@flowable:registry=https://artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:_password=QVA0N0JON3YxbUN4N2Znbm5od2lUR2tRSDlh
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:username=bot-equator@bots.flowable.com
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:email=paulo.lujan@equator.com
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:always-auth=true