// The main color

$flw-forms-color: #00769b; // 68
$flw-forms-color-hover: #122230; // 21

// Other important colors

$flw-forms-color-secondary: #42576a; // 2
$flw-forms-selected-row-background-color: #f2f7fa; // 2
$flw-forms-background-color: #fff; // 67
$flw-forms-text-color: #000000de; // 38 #666
$flw-forms-label-text-color: #000; // 39
$flw-forms-border-color: #00769b; // 47
$flw-forms-shadow-color: #000000; // 2
$flw-forms-muted-text-color: #151515; // 46
$flw-forms-border-muted-color: #cccccc;
$flw-forms-muted-background-color: #f8f8f8; // 18
$flw-form-table-title-color: #928f8f;
$flw-forms-select-border-color:#cccccc;

// error, success and utilities

$flw-forms-error-color: #f0506e; // 10
$flw-forms-red-background-color: #fef4f6; // 2

$flw-forms-success-color: #32d296; // 3
$flw-forms-green-background-color: #edfbf6; // 4

$flw-forms-orange-color: #faa05a; // 1
$flw-forms-orange-background-color: #fef5ee; // 1

$flw-forms-blue-background-color: #d8eafc; // 1

$flw-forms-debug-border: #ff0097; // 1

// Additional Grays

$flw-color-lightgray: #cccccc; // 6

// Variations

$flw-forms-shadow-color-0-6: rgba(0, 0, 0, 0.6); // 4
$flw-forms-shadow-color-0-4: rgba(78, 74, 74, 0.4); // 4
$flw-forms-shadow-color-0-15: rgba(0, 0, 0, 0.15); // 3
$flw-forms-shadow-color-0-08: rgba(0, 0, 0, 0.08); // 3
$flw-forms-disable-text: #b3b3b3;
$flw-forms-disable-btn: #e0e0e0;
$flw-forms-transparent: transparent;


// Dropdown select color
$flw-forms-dropdowncolor: #eeeeee;

//Date color
$flw-forms-Date-color: #00769b;

// button text disable color
$flw-forms-disablebtn-text-color: #999 !important;