@import "grid";

.flw__panel__row {
  @extend %flex-row;
}
@for $i from 1 through 12 {
  .flw__panel__col--#{$i} {
    @extend %flex-col-sm-#{$i};
    display: flex;
    position: relative;
  }
}
.flw__component {
  display: flex;
  flex-direction: column;
  margin: $flw-gutter;
  margin: var(--flw-gutter, $flw-gutter);
  flex: 1 1 auto;
  width: 100%;
}
.flw__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
