$flw-text-tiny: 10px !default;
$flw-text-xs: 11px !default;
$flw-text-sm: 12px !default;
$flw-text-med: 13px !default;
$flw-text-base: 11px !default;
$flw-text-lg: 21px !default;
$flw-text-xl: 22.95px !default;
$flw-text-2xl: 27px !default;
$flw-text-3xl: 30.6px !default;
$flw-table-header: 17px !default;

$flw-font-monospace: 'Roboto Mono', monospace !default;
$flw-font-sans: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

$flw-gutter: 6px !default;

$flw-button-height: 40px !default;
$flw-input-height: 38px;
