.flw__collapse-button {
  width: 20px;
  height: 20px;
  position: relative;
}

.flw__collapse-button--collapsed {
  background-image: url(svg-encode($flw-icon-expanded, #000, #666));
}

.flw__collapse-button--collapsed::after {
  content: "";
  background-image: url(svg-encode($flw-icon-expanded, #000, #666));
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.flw__collapse-button--expanded {
  background-image: url(svg-encode($flw-icon-expanded, #000, #666));
}

.flw__collapse-button--expanded::after {
  content: "";
  background-image: url(svg-encode($flw-icon-expanded, #000, #666));
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
